body {
    font-family: Arial, sans-serif;
    text-align: center; /* Centers text and inline elements */
}

header {
    /* text-align: center; is not needed anymore since body is already centering everything */
}

header img {
    width: 150px;
    border-radius: 80%;
    display: inline-block; /* Ensures the img is affected by text-align center */
}

section {
    margin: 0 auto; /* Auto margins on left and right center the block */
    padding: 20px;
    width: 90%; /* You might want to set a width to see the centering effect */
    text-align: justify; /* Justify the text */
}

footer {
    /* text-align: center; is not needed anymore, same reason as header */
    padding: 20px;
}

.middle-image {
    width: 200px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 20px; /* Adds some space between the top image and the middle image */
}

.small-image {
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 10px; /* Adds some space between images */
}

.recognition {
    display: flex;
    justify-content: center; /* Centers the images horizontally */
    flex-wrap: wrap; /* Allows the images to wrap to the next line if they don't fit in one row */
    gap: 20px; /* Adds some space between the images */
}

.recognition img {
    width: 2000px; /* Adjust the size of the images as needed */
    border-radius: 10%; /* Optional: adds a small border radius to the images */
}
